	<!-- <img  class="myimage" alt="image" src="assets/imageedit_2_3539625540.png">
-->

<div class="container">
	<h1><b>About Me</b></h1>
		<div class="about-content-left">
			<div class="left">
				<h2>Home Town</h2>
				<p>
					I was born and bought up in Tellicherry, a coastal town in 'God's Own Country', Kerala, nestled at the shore of Arabian Sea. Tellichery owns several credits in its basket when it comes to panoramic views, the reflection of its glorious past and nature's beauty. 
				</p>
			</div>
			<img src="assets/thalassery.jpg">
		</div>
		<!-- <hr> -->
		<div class="about-content-right">
			<div class="right">
				<h2>Primary Education</h2>
				<p>
					I was born and bought up in Tellicherry, a coastal town in 'God's Own Country', Kerala, nestled at the shore of Arabian Sea. Tellichery owns several credits in its basket when it comes to panoramic views, the reflection of its glorious past and nature's beauty. 
				</p>

			</div>
			<img src="assets/school.jpg">
		</div>

		<div class="about-content-left">
			<div class="left">	
				<h2>Secondary Education</h2>
				<p>
					I was born and bought up in Tellicherry, a coastal town in 'God's Own Country', Kerala, nestled at the shore of Arabian Sea. Tellichery owns several credits in its basket when it comes to panoramic views, the reflection of its glorious past and nature's beauty. 
				</p>
			</div>
			<img src="assets/mubarak.jpg">
		</div>
		<div class="about-content-right">
			<div class="right">	
				<h2>Graduation</h2>
				<p>
					I was born and bought up in Tellicherry, a coastal town in 'God's Own Country', Kerala, nestled at the shore of Arabian Sea. Tellichery owns several credits in its basket when it comes to panoramic views, the reflection of its glorious past and nature's beauty. 
				</p>
			</div>
			<img src="assets/mes.jpg">
		</div>
		<div class="about-content-left">
			<div class="left">	
				<h2>First Job</h2>
				<p>
					I was born and bought up in Tellicherry, a coastal town in 'God's Own Country', Kerala, nestled at the shore of Arabian Sea. Tellichery owns several credits in its basket when it comes to panoramic views, the reflection of its glorious past and nature's beauty. 
				</p>
			</div>
			<img src="assets/morgan.png">
		</div>
		<div class="about-content-right">
			<div class="right">	
				<h2>Wellington</h2>
				<p>
					I was born and bought up in Tellicherry, a coastal town in 'God's Own Country', Kerala, nestled at the shore of Arabian Sea. Tellichery owns several credits in its basket when it comes to panoramic views, the reflection of its glorious past and nature's beauty. 
				</p>
			</div>
			<img src="assets/wellington.jpg">
		</div>
		<div class="about-content-left">
			<div class="left">	
				<h2>Current Job</h2>
				<p>
					I was born and bought up in Tellicherry, a coastal town in 'God's Own Country', Kerala, nestled at the shore of Arabian Sea. Tellichery owns several credits in its basket when it comes to panoramic views, the reflection of its glorious past and nature's beauty. 
				</p>
			</div>
			<img src="assets/mvp.png">
		</div>
	
	
</div>