<div class="container"> 
  <div class="project">  
    <h2><b>Alex Swift Emergency Contact</b></h2><br>
    <div (click)="openModal('custom-modal-1')" class="alex-image">
    <img src="assets/alex.png">
  </div>
    <br>
    <div>
      <p>The Cobra or Alex Swift Emergency Contact Service is a software that provides the ability to contact your emergency contacts when in need. The system can be linked to a call centre where by if you are lost over a period a call can put forward to a list of your immediate contacts. The system is built using .NET Framework – C#, ASP.NET MVC, HTML, CSS, AngularJS, Bootstrap.</p>
    </div>
  </div>
  <br>

  <div class="project">  
    <h2><b>Morgan McKinley</b></h2><br>
    <div (click)="openModal('custom-modal-1')" class="mmk-image">
    <img src="assets/mmk.png">
  </div>
    <br>
    <div>
      <p>The Cobra or Alex Swift Emergency Contact Service is a software that provides the ability to contact your emergency contacts when in need. The system can be linked to a call centre where by if you are lost over a period a call can put forward to a list of your immediate contacts. The system is built using .NET Framework – C#, ASP.NET MVC, HTML, CSS, AngularJS, Bootstrap.</p>
    </div>
  </div>
  <br>
  
  <div class="project">  
    <h2><b>My Website</b></h2><br>
    <div (click)="openModal('custom-modal-1')" class="myweb-image">
    <img src="assets/myweb.png">
  </div>
    <br>
    <div>
      <p>The Cobra or Alex Swift Emergency Contact Service is a software that provides the ability to contact your emergency contacts when in need. The system can be linked to a call centre where by if you are lost over a period a call can put forward to a list of your immediate contacts. The system is built using .NET Framework – C#, ASP.NET MVC, HTML, CSS, AngularJS, Bootstrap.</p>
    </div>
  </div>
 
</div>
<!-- <modal id="custom-modal-1">
    <div class="modal">
        <div class="modal-body">
            <h1>A Custom Modal!</h1>
            <p>
                Home page text: <input type="text" [(ngModel)]="bodyText" />
            </p>
            <button (click)="closeModal('custom-modal-1');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal> -->