<!--The content below is only a placeholder and can be replaced.-->
<div class="myweb">
	<div class="main">


		<div>
			<img class="banner" alt="image" src="assets/image3.jpg">
		</div>
		<div class="header">

			<div ><p style="font-family:fantasy;"><b>Salin Rosna</b></p>

				<div class="social">
					<h2><b>Get In Touch</b></h2>
					<!-- <div>
						<img alt="facebook" src="assets/fb.png">
					</div>
					<div>
						<img alt="facebook" src="assets/ln.png">
						<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
						<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/salinrosna" data-format="click" data-related="false"></script>
					</div>
					<div>
						<img alt="facebook" src="assets/tw.png">
					</div> -->
				</div>
				

			</div>
		</div>
		<div>
			<nav class="navbar">

				<ul class="nav">
					<li><a class="navicon" routerLink="/home"><span class="glyphicon glyphicon-home"></span>Home</a></li>
					<li><a class="navicon" routerLink="/aboutme"><span class="glyphicon glyphicon-user"></span>About Me</a></li>
					<li><a class="navicon" routerLink="/resume" ><span class="glyphicon glyphicon-file"></span>Resume</a></li>
					<li><a class="navicon" routerLink="/portfolio" ><span class="glyphicon glyphicon-briefcase"></span>Portfolio</a></li>

				</ul>

			</nav>
		</div>

	</div>
	<div class="body" >	
					<div class="welcome" @headanimation>
						<h1 class="hello"><b>--Welcome--</b></h1>
					</div>
		<router-outlet></router-outlet>
	</div>


</div>
