
    <div class="body-content">
                
        <div @explainerAnim @explainerAnimation class="overview">
          <div class="main-content" >
            <div class="right">
              <h2><b>Hello, I'm Salin Rosna</b></h2>
              <p>I am a Web Developer, currently working for MVP Studio Auckland. I am looking for a challenging position where I can contribute to the growth of the organization in every way possible. I want to set higher goals while meeting and exceeding the current ones. </p>
            </div>
          </div>
          <div  class="main-content">
            <div class="left">
              <h2><b>My Career</b></h2>
              <p>I am Working for MVP Studio since March 2017 as a Software Developer, currently working with the project Alex Swift Emergency Contact using .Net Framework. Before joining MVP Studio I was working with Morgan Mckinley as a Web Developer where I used Drupal CMS version 7</p>
            </div>
          </div>
          <div   class="main-content">
            <div class="right">
              <h2><b>Skills and other Interests</b></h2>
              <p>I’m extremely passionate about web development in all it’s forms from back end programming (.Net Framework, C#, MS SQL Database) to front end engineering(HTML, CSS, and AngularJS/Javascript). Aside from Web Development, I enjoy spending time with my husband and family, hangout with friends, watching movies and reading.</p>
            </div>
          </div>
          <div  class="main-content">
            <div class="left">
              <h2><b>About this blog</b></h2>
              <p>This blog is Developed from Scratch using HTML, CSS and Angular 4 and Bootstrap4. It is still on upgrading process, to use a new stack of web technologies.</p>
            </div>
          </div>
        </div>
      </div>

